<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">UnitPrice</th>
      <th scope="col">Quantity</th>
      <th scope="col">TotalPrice</th>
      <th scope="col">CreateTime</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders; let i = index" [routerLink]="order.orderId">
      <th scope="row">{{i+1}}</th>
      <td>{{order.productName}}</td>
      <td>{{order.currentUnitPrice}}</td>
      <td>{{order.quantity}}</td>
      <td>{{order.totalPrice}}</td>
      <td>{{order.createTime}}</td>
    </tr>
  </tbody>
</table>
