<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Register</h3>
      </div>
      <div class="card-body">
        <form id="registerUser" #form="ngForm" (ngSubmit)="onSubmit(form)">
          <div class="form-group">
              <label for="username">UserName</label>
              <input id="username" type="text" class="form-control" name="username"  placeholder="Enter username" (blur)="onUsernameBlur(username.viewModel)" ngModel #username="ngModel" required>
              <div class="alert alert-warning" *ngIf="!isUsernameValid">{{usernameErrMsg}}</div>
              <div class="alert alert-danger" *ngIf="username.touched && username.invalid">
                  Username is required !!
              </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" name="password"  placeholder="Enter a secured password" ngModel #password="ngModel" required>
            <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
              Password is required !!
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" class="form-control" name="email" (blur)="onEmailBlur(email.viewModel)" placeholder="Enter email address" ngModel #email="ngModel" required>
            <div class="alert alert-warning" *ngIf="!isEmailValid">{{errMsg}}</div>
            <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                Your email address works as the username hence email is required !!

            </div>
          </div>
          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input id="phone" type="tel" pattern="[0-9]{11}" class="form-control" name="phone"  placeholder="Enter phone number" ngModel #phone="ngModel" required>
            <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
              Invalid phone number !!
            </div>
          </div>
          <div class="form-group">
            <label for="question">Question</label>
            <input id="question" type="text" class="form-control" name="question"  placeholder="Enter Question" ngModel #question="ngModel" required>
            <div class="alert alert-danger" *ngIf="question.touched && question.invalid">
              Question is required !!
            </div>
          </div>

          <div class="form-group">
            <label for="answer">Answer</label>
            <input id="answer" type="answer" class="form-control" name="answer"  placeholder="Enter Answer" ngModel #answer="ngModel">
            <!-- <div class="alert alert-danger" *ngIf="answer.touched && answer.invalid">
                Answer is required !!
            </div> -->
          </div>
          <!-- <div class="form-group">
              <label for="profImg">Profile Image</label>
                  <input id="image" type="text" class="form-control" name="image" placeholder="Enter profile image URL" ngModel #image="ngModel">
                  <div class="alert alert-danger" *ngIf="image.touched && image.invalid">
                      Product image is required !!
                  </div>
          </div> -->
          <button type="submit" [disabled]="form.invalid && isEmailExist" class="btn btn-primary">Register</button>
          <br>
          <div class="alert alert-danger" *ngIf="formInvalid">Form inpunts invalid</div>
      </form>
      </div>
    </div>
  </div>
</div>
